@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-datepicker {
  font-family: inherit !important;
  border-color: #d1d5db !important; /* gray-300 */
}
.react-datepicker__header {
  background-color: #f3f4f6 !important; /* gray-100 */
  border-bottom-color: #d1d5db !important; /* gray-300 */
}
.react-datepicker__current-month,
.react-datepicker-time__header {
  font-weight: 600 !important;
  color: #1f2937 !important; /* gray-800 */
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__time-list-item--selected {
  background-color: #991b1b !important; /* red-800 */
}
.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
  background-color: #f3f4f6 !important; /* gray-100 */
}